.banner {
    background-image: url('../../assets/Home-Six-Banner-Background-Image-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
    padding-left: 30px;
}

.banner-text {
    font-size: 60px;
}

@media (max-width: 768px) {
    .banner {
        height: 200px;
    }
    .banner-text {
        font-size: 20px;
    }
}