.ContactBanner {
    background-image: url('../assets/header-Contact-us.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
    padding-left: 30px;
}
@media (max-width: 768px) {
    .banner {
        height: 200px;
    }
    
}